@font-face {
 font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #FBF7F4;
}

html{
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,a{
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 1);
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  line-height: 21px;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
}

h4{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

h5{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

h6{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
}

html{
  height: 100%;
}

body{
  margin: 0;
  min-height: 100%;
  outline-offset: -5px;
}

.wrapper{
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}

.container{
  width: 100%;
  max-width: 1041px;
}

.main-container{
  flex-grow: 1;
}

p{
  font-family: "Rubik",sans-serif;
  font-size: 16px;
  line-height: 30px;
}

ul{
  padding: 0;
}

.button{
  /*display: inline-block;*/
  /*padding: 14px 20px;*/
  /*font-family: inherit;*/
  /*font-size: 16px;*/
  /*line-height: 16px;*/
  /*font-weight: 700;*/
  /*text-align: center;*/
  /*color: #FFFFFF;*/
  /*background-color: #000000;*/
  /*border: none;*/
  /*text-decoration: none;*/
  /*text-transform: uppercase;*/
  /*cursor: pointer;*/
}

.catalog-item:focus-within .subcatalog {
  display: block;
}

.subcatalog{
  display: none;
}

/*********header*******/

.header {
  padding: 40px 0;
  /*margin: 0 auto;*/

  height: 300px;
  /*margin: 40px auto 0;*/
  background: url("image/Background 1.png") center no-repeat;
  /*background-color: rgba(255, 225, 127, 1);*/
}

.navigation-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

}


.logo{
 position: relative;
  top: -23px;
  left: 0;
  z-index: 1;
}

.header-elements{
  font-size: 16px;
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 1075px;
  margin: 26px auto 0;
}

.header-search{

  align-items: center;
  width: 100%;
  max-width: 1075px;
  margin: 0 auto;
}

.header-search{
  display: flex;
  align-items: center;
  width: 50%;
}

/*.header-elements-item{*/
/*  width: 50%;*/
/*  box-sizing: border-box;*/
/*  display: grid;*/
/*  grid-template-columns: 2fr 1fr 1fr;*/
/*  gap: 20px;*/
/*  list-style-type: none;*/
/*}*/

.header-elements-item{
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.elements-signin,
.elements-comparer,
.elements-trash{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-elements-item img, .header-search img{
  margin-right: 10px;
}

/********navigation********/

.navigation-elements{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1075px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}

.navigation-catalog{
  width: 50%;
}

.navigation-list{
  display: flex;
  justify-content: space-between;
  width: 50%;

  list-style-type: none;
}

.main-container{
  flex-grow: 1;

}

/********slider********/

.slider-inner{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1075px;
  margin-top: -69px;
}

.slaider-image{
  width: 50%;
  position: relative;
  top: -90px;
}

.slaider-info{
  width: 50%
}

/********table********/

.table{
  margin-top: 60px;
}

.table-long{
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 30px;
}
.table-small{
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
}

/********range*********/

.range{
  margin: 50px auto;
}

.range-list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;

}

.range-block{
  width: 160px;
  height: 160px;
  background-color: rgba(255, 225, 127, 1);
  display: flex;
  justify-content: center;
  align-items: center;

}

.range-block .monopod{
  align-self: flex-end;
}

.range-item{
  box-sizing: border-box;
}

.range-block{
  /*width: 158px;*/
  /*height: 160px;*/
  /*background-color: rgba(255, 225, 127, 1);*/
}

/*.range-block img{*/
/*  margin: 0 auto;*/
/*  align-items: center;*/
/*}*/


.range-title{
  margin-top: 33px;
  font-family:'Raleway', sans-serif;
  font-size: 18px;
}


/********delivery*********/

.delivery{
  height: 388px;
  margin-top: 69px;
  background-color: rgba(240, 240, 240, 1);
}

.delivery-background{
  height: 288px;
  width: 100%;
}

.delivery-intro{
  /*position: relative;*/
  /*top: 0;*/
  /*z-index: 0;*/
}

.delivery-block{
  width: 100%;
  max-width: 1075px;
  height: 312px;
  display: flex;
  justify-content: space-between;
}

.delivery-list{
  display: flex;
  flex-direction: column;
  width: 25%;
  border-right: 7px solid rgba(0, 0, 0, 1);
  list-style-type: none;
}

.delivery-info,
.delivery-icon,
.delivery-first:first-child{
  padding-top: 100px;
}

.delivery-first{
  margin-bottom: 44px;
}

.delivery-first h3{
  text-transform: uppercase;
}

.delivery-info{
  width: 70%;
  padding-left: 116px;

}

/********decorative*********/

.decorative{
  margin-top: 90px;
  background-color: rgba(240, 240, 240, 1);
}

.decorative-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title{
  font-family:'Raleway', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.section-block{
  padding-right: 33px;
}

/********about us*********/

.aboutus{
  height: 560px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 97px;
}

.info-aboutus::before{
  content: '';
  display: block;
  height: 7px;
  width: 80px;
  background: rgba(0, 0, 0, 1);
  margin-bottom: 42px;
}

.info{
  width: 45%;
}

.info-aboutus li{
  color: rgba(255, 199, 0, 1);
  margin-left: 15px;

}

.info-contact{
  width: 45%;
}

.info-contact::before{
  content: '';
  display: block;
  height: 7px;
  width: 80px;
  background: rgba(0, 0, 0, 1);
  margin-bottom: 42px;
}

.contacts-schedule{
  list-style-type: none;
}

/********subscribe*********/

.subscribe{
  padding-top: 70px;
  height: 421px;
  background-color: rgba(240, 240, 240, 1);
}

.subscribe-inner{

  display: flex;
  justify-content: space-between;
}

.subscribe-title{
  width: 45%;
}

.subscribe-info{
  width: 50%
}

/********subscribe-form*********/

.subscribe-form{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.field{
  width: 300px;
}
/********footer*********/

footer, footer a{
  height: 321px;
  background-color: rgba(68, 68, 68, 10);
  color: rgba(255, 255, 255, 1);
}

.page-footer{
  padding-top: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-contacts{
  width: 30%;
  text-align: left;
}
.footer-contacts p{
  margin-top: 35px;
}

.footer-contacts::after{
  content: '';
  display: block;
  width: 80px;
  height: 7px;
  background: rgba(255, 199, 0, 1);
  margin-top: 66px;
}

.footer-social-navigation{
  width: 40%;
  text-align: center;
}

.footer-social-list{
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 220px;
  margin: 53px auto 0;

}

.footer-navigation{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 310px;
  list-style-type: none;
  margin: 0 auto;
}

.footer-phone{
  width: 30%;
  text-align: right;
}

.about-text{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  margin-top: 38px;
  color: rgba(255, 255, 255, 1);
}
.contacts-phone{

}

/************************************************/

/****************catalog***********/

/*.main-container{*/
/*  margin-top: 37px;*/
/*}*/

/*******breadcrumbs*********/

.breadcrumbs{
  /*margin-top: 14px;*/
  display: flex;
  /*justify-content: flex-start;*/
  list-style-type: none;
}
.breadcrumbs-link{
  margin-right: 36px;
}
.breadcrumbs-item {
  /*  align-items: center;*/
  /*  margin-right: 35px;*/
  /*}*/
}

.catalog-products{
  display: flex;
  justify-content: space-between;

}


/*******catalog-filter****/
.sorting-container{
  width: 25%;
  display: flex;
  flex-direction: column;
}
.sorting-control button{
  width: 56px;
  height: 44px;
  background-color: darkgrey;

}

.sorting-control{

}

.sorting-type{
  display: flex;
  justify-content: space-between;

}
/*******catalog-sorting*******/

.catalog-sorting{
  width: 70%;
}

/********sorting-type*******/

.sorting-type{
  /*display: flex;*/
  /*justify-content: space-between;*/
}

.sorting-control{
  /*height: 70px;*/
  /*background-color: rgba(240, 240, 240, 1);*/
}

.sorting-title{
}

/*******product-list*********/

.pagination-container{
  display: flex;
  background-color: rgba(235, 235, 235, 1);
}

.pagination{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-list{
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  margin: 0 0 24px;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 50px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 44px;
  padding: 14px 20px;
  line-height: 16px;
  font-weight: 700;
  color: rgba(179, 179, 179, 1);

  text-decoration: none;
}

.product-card{
  display: flex;
  flex-direction: column;
}

.product-card-title-link{
  display: grid;
  grid-template-columns: 4fr 1fr;
}
/*.product-card{*/
/*  width: 50%;*/
/*  padding-bottom: 40px;*/
/*  font-size: 14px;*/
/*}*/
/*.product-card-image{*/
/*  width: 90%;*/

/*}*/

