body{
  margin: 0;
  font-family: 'Raleway', sans-serif, 'Rubik', sans-serif;
  color: black;
}
header, main, footer{
  width: 100%;
  max-width: 1160px;

}


/********Header********/

.page-header{
  /*height: 1160px;*/
  width: 100%;
  max-width: 1160px;
  margin: 35px auto;

}
.header-inner{
  width: 100%;
  max-width: 1041px;
  margin: 0 auto;

  position: absolute;
  z-index: 2;
}

/*Header-logo*/
.header-logo{
  width: 145px;
  height: 36px;
  margin-top: -20px;
}

/*!*Header-background**/
.header-background{
  width: 1160px;
  height: 300px;
  background-color: #FFE17F;

  position: relative;
  z-index: 1;

}

/*Header-elements*/

.header-elements{
  width: 100%;
  max-width: 1041px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  text-decoration: none;

}
.header-elements.header-elements a{
  font-size: 16px;
  text-decoration: none;
  color: black;
}

/*header-elements-item*/

.header-elements-item{
  width: 100%;
  max-width: 560px;
  display: flex;
  justify-content: space-between;

}

/*navigation-elements*/

.navigation-elements{
  /*width: 100%;*/
  max-width: 1041px;
  display: flex;
  justify-content: space-between;

}

.navigation-elements-item{
  width: 100%;
  max-width: 560px;
  display: flex;
  justify-content: space-between;
}


/* Slaider-image*/

.slaider-image{
  width: 560px;
  height: 560px;
  background-color: azure;
}

/*slaider-info*/

.slaider-info{
  width: 560px;
  height: 560px;
  background-color: azure;
}



